<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108956083413-86tto9f5n7j74j55qjo2rs30gkancvnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108956083413-86tto9f5n7j74j55qjo2rs30gkancvnv</string>
	<key>API_KEY</key>
	<string>AIzaSyDxJmiTrQgNneePMNd4M8RLkKLGz5ox0qs</string>
	<key>GCM_SENDER_ID</key>
	<string>108956083413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.flutterFb</string>
	<key>PROJECT_ID</key>
	<string>testflutterfire-bfb6d</string>
	<key>STORAGE_BUCKET</key>
	<string>testflutterfire-bfb6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108956083413:ios:9bf61def7c1265f1416e5c</string>
</dict>
</plist>